.notice-title {
    display: inline-flex;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.notice-title>h2 {
    color: #000C76;
    font-family: "Pretendard";
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.8px;
}

.notice-title>p {
    color: #9599BD;
    font-family: "Pretendard";
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.4px;
}