.notice-calendar-admin {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    gap: 120px;
}

.notice-calendar-admin>button {
    border: none;
    color: #9599BD;
    margin: 1rem;
    font-size: 22px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.54px;
    word-wrap: break-word;
    transition: 0.3s;
    background: transparent;
}

.notice-calendar-admin>button:after {
    display: block;
    content: '';
    color: #000C76;
    border-bottom: solid 3px #000C76;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out,
        color 250ms ease-in-out;
}

.notice-calendar-admin>button:hover:after {
    color: #000C76;
    transform: scaleX(1);
}

/* .notice-admin {
    color:#000C76;
    text-align: center;
    font-family: "Pretendard";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.54px;
} */
